@model string
@{
    ViewData["Title"] = "Home Page";
}

<h2>Welcome to BookApp.All modular monolith</h2>
<div>
    Using <span class="h4">@Model</span> setup
</div>
<br />
<p>
    This application is build with modularized modular monolith design as described in
    <a href="#">this section of the first article</a> in the evolving modular monoliths series.
    It contains 22 projects, plus a project containing the unit tests.
</p>
<p>
    This application was first built for the <a href="https://bit.ly/EfCoreBook2">Entity Framework Core in Action, second edition</a> book.
    Its design has been improved to provide a better modular monolith design.
</p>

<hr/>

<h5>Click the Books menu item to see the books on sale.</h5>

<hr/>

<p>
    Thanks to <strong><a href="https://www.manning.com/">Manning Publications</a></strong> for providing their book information to act as the test data in this application.
    <br />
    <i>
        NOTE I provide a link to the Manning's version of the book if you want to see, or buy, the real book
        <br />
        (full disclosure: I get a small commission if you buy a book from Manning via this app.)
    </i>
</p>

<div>
    <span class="h4">Jon P Smith</span>
    <span>Author of the <a href="https://bit.ly/EfCoreBook2">Entity Framework Core in Action, second edition</a> book.</span>
</div>